{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-blue rounded mt-5">
            <div class="col f-fam text-center">
                <div class="text-decoration-none icon">
                    <h1 class="my-3 text-center heading-text">
                        Welcome to Throttles MC
                    </h1>
                    <P>Get all your motocross and enduro biking needs in one place with the best offers
                       at a quick and affordable shipping cost
                    </P>
                </div>
            </div>
        </div>
    </div>
<!--<div class="container moto">
    <div class="row">
        <div class="col-sm-12 bg-light">
            <h1 class="text-center">Welcome to Throttlers MC</h1>
        </div>
    </div>
</div>-->
<div class="hero-image-outer">
    <div class="row my-5 p-3 ">
        <div class="col-sm-12">
            <!--<div class="hero-image">-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
        <div class="col-4  m-2 boot-icon"></div>
        <div class="col-4  m-2 helmet-icon"></div>
        <div class="col-4  m-2 goggle-icon"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row m-3">
        <div class="col-12">
            <img src="/media/background-rider2-removebg-preview.png" alt="">
            <img src="/media/home-image_1.webp" alt="">
        </div>
        </div>
    </div>
</div>
<!--<div class="container">
    <div class="row m-3">
        <div class="bg-light">
            <div class="col-6"><img src="/media/home-image_1.webp" alt=""></div></div>
            <div class="col-6 info bg-black rounded"><h3>Info </h3></div>
        </div>
    </div>
</div>
<div class="container m-5">
    <div class="row">
        <div class="col-12 bg-dark">Discount</div>
    </div>
</div>-->
{% endblock %}