@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

html {
    height: 100%;
}

body {
    background: url('dia/27492-extreme_sport-enduro-freeride-tree-off_roading-x750.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.navbar {
    background-color: #00509d !important;
    color: #ffd500;
   /* outline: none !important;
    height: 150px;*/
}

.nav-margin {
    margin-top: 200px;
}

.boot-icon{
    height: 50px;
    width: 50px;
    background: url('/media/boots-iconb.png') no-repeat center;
    border-radius: 50%;
}

.helmet-icon {
    height: 50px;
    width: 50px;
    background: url('/media/helmet-iconb.png')no-repeat center;
    border-radius: 50%;
}

.goggle-icon{
    height: 50px;
    width: 50px;
    background: url('/media/goggle-iconb.png')no-repeat center;
    border-radius: 50%;
}
.nav-item a {
    color: #ffd500;
    font-family: 'Teko', sans-serif;
    font-size: 1.6rem;
}

.btn-search {
    color: #000;
    background: goldenrod;
}

.icon i {
    color: #ffd500;
}

/*Style for hero image*/

.adventure {
    height: 100px;
    width: 100px;
    display: inline-block;
}

.hero-image-outer {
    
}

.hero-image {
    height: 350px;
    width: 100%;
    background: url('/media/hero-img.webp') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.overlay {
    z-index: -1;
    height: 100%;
    background: rgba(1, 9, 62, 0.5);
}

.product-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.moto {
    padding-top: 300px;
    color: #ffd500;
}

/*Test code*/

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

footer {
    background: #00509d !important;
    color: goldenrod;
}

.media-links a {
    color: #ffd500;
    font-size: 1.5rem;
}

footer h6, .icon {
    color: #ffd500;
}

.forms-background, 
.y-background {
    background: #ffd500;
}
.text-blue {
    color: #00509d;
}

.bg-blue{
    background-color: #00509d;
}

.btn-blue {
    background-color: #00509d;
    color: #ffd500;

}

.text-yel {
    color: #ffd500;
    text-decoration: none;
}

.heading-text {
    font-size: 5rem;
    color: #ffd500;
    font-family: 'Teko', sans-serif;
}

.f-fam {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
}


