html {
    height: 100%;
}


/*Style for hero image*/

.hero-image-outer {
    overflow: hidden;
}

.hero-image {
    height: 350px;
    width: 100%;
    background: url('') no-repeat center center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.overlay {
    z-index: -1;
    height: 100%;
    background: rgba(1, 9, 62, 0.5);
}

.product-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.moto {
    color: red;
}