{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <ul class="col-sm-12 text-center">
            <li class="col-2  m-2 boot-icon list-inline-item"></li>
            <li class="col-2  m-2 helmet-icon list-inline-item"></li>
            <li class="col-2  m-2 goggle-icon list-inline-item"></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row  p-3">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <div class=" row mt-5 justify-content-center">
                        <div class="col-sm-6 allauth-form-inner-content p-3 forms forms-background rounded shadow">
                            {% block inner_content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-5 my-5">
    <div class="row">
        <ul class="col-sm-12 text-center">
            <li class="col-2  m-2 boot-icon list-inline-item"></li>
            <li class="col-2  m-2 helmet-icon list-inline-item"></li>
            <li class="col-2  m-2 goggle-icon list-inline-item"></li>
            <li class="col-2  m-2 boot-icon list-inline-item"></li>
            <li class="col-2  m-2 helmet-icon list-inline-item"></li>
            <li class="col-2  m-2 goggle-icon list-inline-item"></li>
        </ul>
    </div>
</div>
{% endblock %}
