{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extray_css %}
    {% endblock %}

    {% block corejs %}
    <!--Bootstrap js-->
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
        <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Throttles Motocross {% block extra_title %} {% endblock %}</title>
</head>

<body>
    <header class="">
        <div class="nav-background">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="media/black-boots.jpeg" alt=""></a>
                <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                STORE
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                        href="{% url 'products' %}?category=parts,wheels,suspension,engine">Parts</a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{% url 'products' %}?category=gear,suits,boots,helmets,tops,bottoms">Gear</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'products' %}?category=bikes">Bikes</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">BOOKINGS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>
                    </ul>
                    <!-- Search Box -->
                    <div class="container">
                        <div class="row mx-auto">
                            <form method="GET" action="{% url 'products' %}">
                                <div class="input-group">
                                    <input class="form-control" type="text" name="q" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="form-control btn btn-search" type="submit">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
            <ul class="navbar-nav me-auto me-lg-1 ms-lg-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle icon" role="button" data-toggle="dropdown" aria-expanded="false">
                        {% if request.user.is_authenticated %}
                        <i class="fas fa-user fa-lg"></i>
                        {% else %}
                        <i class="fas fa-user fa-lg"></i>
                        {% endif %}
                    </div>
                    <!-- Login Dropdown -->
                    <div class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'add_product' %}">Add Product</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
                <ul class="navbar-nav me-auto me-lg-1 ms-lg-auto mb-2 mb-lg-0">
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}icon{% else %}icon{% endif %} nav-link"
                            href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <div class="icon"><i class="fas fa-shopping-cart fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    {{ grand_total|floatformat:2 }}sek
                                    {% else %}
                                    0.00sek
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <div class="row mt-3 md-3">
            <div class="col-sm-12">
                {% for category in categories_list %}
                <a class="text-muted p-2 m-1 bg-light"
                    href="{% url 'products' %}?category={{category.name}}">{{category.friendly_name}}</a>
                {% endfor %}
            </div>
        </div>
      <!---  <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sort
                        </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="{% url 'products' %}?sort=price&direction=desc" class="nav-link text-decoration-none text-success">By
                                Price</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'products' %}?sort=category&direction=asc" class="nav-link text-decoration-none text-success">By
                                Category</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'products' %}?sort=brand&direction=desc" class="nav-link text-decoration-none text-success">By
                                Brand</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'products' %}?sort=rating&direction=desc" class="nav-link text-decoration-none text-success">By
                                Rating</a>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>
        </div>-->
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- Footer from MDbootstrap -->
    <footer class="text-center text-lg-start container-fluid">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center p-4 border-bottom">
            <!-- Left -->
          <!----  <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>-->
            <!-- Left -->

            <!-- Section: Mailchimp Signup Form -->
            <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <div id="mc_embed_signup" class="mx-auto">
                    <form
                        action="https://gmail.us21.list-manage.com/subscribe/post?u=93fd03b5e626ccdace3880271&amp;id=c7f0c47d2e&amp;f_id=0025c4e1f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Subscribe to our Mailing List</label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                                    placeholder="Email address" required>
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_93fd03b5e626ccdace3880271_c7f0c47d2e" tabindex="-1" value="" aria-label="Search"></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="custom-button mx-auto">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section>
            <div class="text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-motorcycle me-3"></i> Throttles MC
                        </h6>
                        <p>
                            This site is created for educational purposes only
                        </p>
                        <!-- Right -->
                        <div class="media-links">
                            <a href="" class="me-4 link-secondary">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="" class="me-4 link-secondary">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="" class="me-4 link-secondary">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="" class="me-4 link-secondary">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="" class="me-4 link-secondary">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="" class="me-4 link-secondary">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful Links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Order</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Pivacy Policy</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Services
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Adventures</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Shop</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Blog</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Stockholm, Flemingberggatan 3</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            throttles@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="#">Ewart Hestick</a>
        </div>
    </footer>

    {% block postloadjs %}
     <!-- Toast Script -->
  <script>
    $('.toast').toast('show');
  </script>
    {% endblock %}

</body>

</html>