{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5 ">
        <div class="col bg-blue rounded mt-5 shadow">
            <div class="col">
                <a class="text-decoration-none" href="{% url 'products' %}">
                    <h1 class="my-3 text-center heading-text">
                        Store
                    </h1>
                </a>
                <h2 class="bg-warning rounded p-1 shadow f-fam text-center" style="text-align: center;">Free Shipping on
                    orders over {{ free_delivery_threshold }}sek</h2>
                <div class="m-3 w-50">
                    <select id="sort-selector" aria-label="option select for sorting"
                        class=" rounded-0 border border-{% if current_sort != 'None_None' %}success{% else %}light{% endif %}">
                        <option value="reset" {% if current_sort == 'None_None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="price_asc" {% if current_sort == 'price_asc' %}selected{% endif %}>Price (low
                            to high)</option>
                        <option value="price_desc" {% if current_sort == 'price_desc' %}selected{% endif %}>Price
                            (high to low)</option>
                        <option value="rating_asc" {% if current_sort == 'rating_asc' %}selected{% endif %}>Rating
                            (low to high)</option>
                        <option value="rating_desc" {% if current_sort == 'rating_desc' %}selected{% endif %}>Rating
                            (high to low)</option>
                        <option value="brand_asc" {% if current_sort == 'brand_asc' %}selected{% endif %}>
                            Brand (A-Z)</option>
                        <option value="brand_desc" {% if current_sort == 'brand_desc' %}selected{% endif %}>
                            Brand (Z-A)</option>
                        <option value="category_asc" {% if current_sort == 'category_asc' %}selected{% endif %}>
                            Category (A-Z)</option>
                        <option value="category_desc" {% if current_sort == 'category_desc' %}selected{% endif %}>
                            Category (Z-A)</option>
                        <option value="name_asc" {% if current_sort == 'name_asc' %}selected{% endif %}>Name (A-Z)
                        </option>
                        <option value="name_desc" {% if current_sort == 'name_desc' %}selected{% endif %}>Name (Z-A)
                        </option>
                    </select>
                    <span class=" mt-3 text-center text-warning text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a class="text-warning" href="{% url 'products' %}">All Products</a>|</span>
                        {% endif %}
                        {{ products|length }} Items{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-light p-3 rounded">
        <div class="d-none d-lg-block col-md-2">
            <h2 class="fs-6 text-info f-fam">CATEGORIES</h2>
            <hr>
            <p><a class="nav-link text-info" href="{% url 'products' %}">All Products</a></p>
            {% for category in categories_list %}
            <p><a class="nav-link text-info" href="{% url 'products' %}?category={{category.name}}">{{category.friendly_name }}</a></p>
            {% endfor %}
            <h2 class="fs-6 text-info f-fam">All Products</h2>
            <hr>
            <p><a href="{% url 'products' %}?sort=price&direction=desc"
                    class="nav-link text-decoration-none text-info">By
                    Price</a></p>
            <p><a href="{% url 'products' %}?sort=category&direction=asc"
                    class="nav-link text-decoration-none text-info">By
                    Category</a></p>
            <p><a href="{% url 'products' %}?sort=brand&direction=desc"
                    class="nav-link text-decoration-none text-info">By
                    Brand</a></p>
            <p><a href="{% url 'products' %}?sort=rating&direction=desc"
                    class="nav-link text-decoration-none text-info">By
                    Rating</a></p>
        </div>
        <div class="col">
            <div class="row my-5">
                <div class="col-sm d-flex flex-wrap">
                    {% for product in products %}
                    <div class="card m-4 me-md-2 p-3 mx-auto product-list shadow grow">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <p class="text-info text-center">{{ product.category.friendly_name }}</p>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">{{ product.price }}kr</p>
                                    {% if product.rating %}
                                    <small class="text-mute"><i class=" icon fas fa-star mr-1"></i>{{ product.rating }} /
                                        5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col">
                <span style="float:right;" class="btn text-info back-to-top">Back to Top</span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <ul class="col-sm-12 text-center">
            <li class="col-2  m-2 boot-icon list-inline-item"></li>
            <li class="col-2  m-2 helmet-icon list-inline-item"></li>
            <li class="col-2  m-2 goggle-icon list-inline-item"></li>
            <li class="col-2  m-2 boot-icon list-inline-item"></li>
            <li class="col-2  m-2 helmet-icon list-inline-item"></li>
            <li class="col-2  m-2 goggle-icon list-inline-item"></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#sort-selector').change(function () {
        let selector = $(this);
        let url = new URL(window.location);

        let selected = selector.val();
        if (selected != 'reset') {
            let sort = selected.split('_')[0];
            let direction = selected.split('_')[1];

            url.searchParams.set('sort', sort);
            url.searchParams.set('direction', direction);

            window.location.replace(url);
        } else {
            url.searchParams.delete('sort');
            url.searchParams.delete('direction');
            window.location.replace(url);
        }
    })
</script>
{% endblock %}